In [ ]:
import pandas as pd
import numpy as np
from faker import Faker

fake = Faker()

In [2]:
n = 10  

customers = pd.DataFrame({
    "customer_id": [i+1 for i in range(n)],
    "name": [fake.name() for _ in range(n)],
    "created_at": [fake.date_time_between(start_date="-5y", end_date="-1y") for _ in range(n)],
    "last_updated": [fake.date_time_between(start_date="-1y", end_date="now") for _ in range(n)],
    "birth_date": [fake.date_of_birth(minimum_age=18, maximum_age=70) for _ in range(n)]
})

contracts = pd.DataFrame({
    "contract_id": [i+1 for i in range(n)],
    "customer_id": np.random.randint(1, n+1, size=n),
    "start_date": [fake.date_between(start_date="-3y", end_date="-6m") for _ in range(n)],
    "end_date": [fake.date_between(start_date="-6m", end_date="now") for _ in range(n)],
    "created_at": [fake.date_time_between(start_date="-3y", end_date="-2y") for _ in range(n)],
    "last_updated": [fake.date_time_between(start_date="-1y", end_date="now") for _ in range(n)]
})


billing = pd.DataFrame({
    "bill_id": [i+1 for i in range(n)],
    "customer_id": np.random.randint(1, n+1, size=n),
    "issue_date": [fake.date_time_between(start_date="-2y", end_date="now") for _ in range(n)],
    "due_date": [fake.date_time_between(start_date="-1y", end_date="now") for _ in range(n)],
    "completed_date": [fake.date_time_between(start_date="-1y", end_date="now") if np.random.rand() > 0.3 else None for _ in range(n)],
    "created_at": [fake.date_time_between(start_date="-2y", end_date="-1y") for _ in range(n)],
    "last_updated": [fake.date_time_between(start_date="-6m", end_date="now") for _ in range(n)]
})


devices = pd.DataFrame({
    "device_id": [i+1 for i in range(n)],
    "customer_id": np.random.randint(1, n+1, size=n),
    "assigned_date": [fake.date_time_between(start_date="-3y", end_date="-1y") for _ in range(n)],
    "returned_date": [fake.date_time_between(start_date="-1y", end_date="now") if np.random.rand() > 0.5 else None for _ in range(n)],
    "created_at": [fake.date_time_between(start_date="-3y", end_date="-2y") for _ in range(n)],
    "last_updated": [fake.date_time_between(start_date="-6m", end_date="now") for _ in range(n)]
})


usage = pd.DataFrame({
    "usage_id": [i+1 for i in range(n)],
    "customer_id": np.random.randint(1, n+1, size=n),
    "start_date": [fake.date_time_between(start_date="-1y", end_date="-6m") for _ in range(n)],
    "end_date": [fake.date_time_between(start_date="-6m", end_date="now") for _ in range(n)],
    "created_at": [fake.date_time_between(start_date="-2y", end_date="-1y") for _ in range(n)],
    })

In [9]:
all_dates = []

for df in [customers, contracts, billing, devices, usage]:
    for col in df.columns:
        if np.issubdtype(df[col].dtype, np.datetime64):
            all_dates.append(df[col].dropna())

all_dates = pd.concat(all_dates).drop_duplicates().reset_index(drop=True)
dim_date = pd.DataFrame({"date_id": all_dates,
                         "day": all_dates.dt.day,
                         "month": all_dates.dt.month,
                         "year": all_dates.dt.year,
                         "day_of_week": all_dates.dt.dayofweek,
                         "day_name": all_dates.dt.day_name(),
                         "quarter": all_dates.dt.quarter})

dim_date

,date_id,day,month,year,day_of_week,day_name,quarter
0,2023-03-05 07:17:01.754866,5,3,2023,6,Sunday,1
1,2021-07-25 02:34:19.535535,25,7,2021,6,Sunday,3
2,2024-07-20 20:08:44.328488,20,7,2024,5,Saturday,3
3,2024-01-03 09:27:25.888324,3,1,2024,2,Wednesday,1
4,2024-08-27 01:04:27.903031,27,8,2024,1,Tuesday,3
...,...,...,...,...,...,...,...
150,2024-06-25 01:42:03.892523,25,6,2024,1,Tuesday,2
151,2023-11-20 04:04:32.932907,20,11,2023,0,Monday,4
152,2023-12-09 07:02:50.682607,9,12,2023,5,Saturday,4
153,2024-08-02 10:59:16.167335,2,8,2024,4,Friday,3
154,2024-07-03 06:26:31.127290,3,7,2024,2,Wednesday,3